.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
tr {
  cursor: pointer;
}

.navBar {
  background-color: #c43042;
  color: #fff;
}
.navbar-brand img {
  width: 80px;
}
.subHeader li:hover {
  color: #000;
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none !important;
}

.side {
  min-height: 100vh;
}
.sideBar li {
  margin: 5px 0;
}
.sideBar li:hover {
  color: #000;
  cursor: pointer;
}
.sideBar li svg {
  margin-right: 4px;
}
.pagination {
  display: flex;
  float: right;
}
.pagination li {
  color: grey;
  margin-right: 8px;
}
.pagination li:hover {
  color: rgb(192, 10, 10);
}

.pagination li a {
  text-decoration: none;
  color: grey;
}
.pagination li a:hover {
  color: rgb(192, 10, 10);
}
.error {
  color: #b90e0e;
}

.modalAddEdit input {
  padding: 5px;
  background-color: rgb(241, 239, 239);
  border: none;
  width: 100%;
}
.modalAddEdit label {
  color: gray;
}
